.App {
  /* text-align: center; */
  background-image: url('./hashicorp-callout.svg');
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), 
              url('./hashicorp-callout.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  /* width: 100vw; */
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5vmin 5vmin 0 5vmin;
}

.App-logo {
  display: inline-block;
}
.App-logo img {
  height: 6vmin;
}

.App-link {
  color: #61dafb;
}

.App-header {
  display: flex;
  align-items: center;
}

.App-header .App-logo {
  margin-right: auto;
}

.App-header .logos-container {
  flex-shrink: 0;
}
